.home-work_card-list-item.active .home-work_card-list-icon-wrap{
      opacity: 100%;
}

.home-process_left-list-item.active .home-process_left-list-dot{
      opacity: 100%;
}


/* 🔝 TOP GRADIENT */
/* .home-work_card-list-wrap::before {
  content: "";
  position: sticky;
  top: 0;
  display: block;
  height: 80px;
  z-index: 2;
  pointer-events: none;

  background: linear-gradient(
    180deg,
    #111212 0%,
    rgba(17, 18, 18, 0) 100%
  );
}

/* 🔻 BOTTOM GRADIENT */
/* .home-work_card-list-wrap::after {
  content: "";
  position: sticky;
  bottom: 0;
  display: block;
  height: 80px;
  z-index: 2;
  pointer-events: none;

  background: linear-gradient(
    180deg,
    rgba(17, 18, 18, 0) 0.48%,
    #111212 100%
  );
} */ 
@media (max-width: 767px) {

      .home-work_card-list-wrap::before {
              height: 80px;
      }
      .home-work_card-list-wrap::after {
              height: 80px;
      }
}



.home-build_list-item.active .heading-style-h4.text-weight-normal{
      font-weight: 500;
}



/* Common scroll behavior */
.home-work_card-list-wrap,
.home-work_card-image-wrapper {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #444 transparent;
}

/* width of scrollbar */
.home-work_card-list-wrap::-webkit-scrollbar {
  width: 6px;
}

/* track */
.home-work_card-list-wrap::-webkit-scrollbar-track {
  background: transparent;
}

/* thumb */
.home-work_card-list-wrap::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #666, #222);
  border-radius: 20px;
  transition: all 0.3s ease;
}

/* hover */
.home-work_card-list-wrap::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #888, #333);
}

/* height of scrollbar */
.home-work_card-image-wrapper::-webkit-scrollbar {
  height: 6px;
}

/* track */
.home-work_card-image-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

/* thumb */
.home-work_card-image-wrapper::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #666, #222);
  border-radius: 20px;
  transition: all 0.3s ease;
}

/* hover */
.home-work_card-image-wrapper::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #888, #333);
}

.home-faq_item.active .open{      
      display: flex;
}
.home-faq_item.active .close{      
      display: none;
}

